<h1>Burgers Menu</h1>

<h2>All Burgers</h2>


<h2>Devoured Burgers</h2>

<h2>Add A Burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="burg">Burger Name:</label>
        <input type="text" id="burg" name="name">
    </div>

    {{!-- <div class="form-group">
    <label for="eaten">Devoured?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div> --}}

    <button type="submit">Add Burger</button>
</form>